[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/minibufexpl"]
	path = .vim/bundle/minibufexpl
	url = https://github.com/sontek/minibufexpl.vim.git
